.checkbox {
  display: none;

  &-label {
    display: block;

    width: 24px;
    height: 24px;

    text-align: center;

    border: 1px solid var(--color-border);
    border-radius: 50%;

    &::before {
      display: inline-block;
      color: var(--color-accent);
      content: '\2713';
      font-size: 15px;
      line-height: 15px;


      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  }

  &:checked+&-label::before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
