.layout {
  height: 100vh;
  overflow-y: hidden;

  &-container {
    padding: 20px;

    @include desktop-before {
      max-width: var(--width-container-other);
    }

    @include desktop {
      max-width: var(--width-container-desktop);
    }

    @include tablet {
      max-width: var(--width-container-tablet);
    }

    @include mobile {
      max-width: var(--width-container-mobile);
    }

    @include mobile-s {
      max-width: var(--width-container-mobile-s);
    }
  }
}
