.todo {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;

  &__container {
    width: 100%;

    padding: 20px;

    background: var(--color-bg);

    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);

    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  }

  &__block-add {
    display: flex;
    gap: 10px;

    &__input {
      flex: 1;

      height: var(--height-add);

      background: var(--color-bg-add);

      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);

      color: var(--color-text);
      padding-left: 10px;

      &::placeholder {
        color: rgba(var(--color-text), .7);
      }

      &:active,
      &:focus,
      &:focus-visible {
        outline: none;
        border: 1px solid var(--color-primary);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-block: 10px;

    &-item {
      flex: 1;
      height: var(--height-add);

      background: var(--color-bg-add);

      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);

      color: var(--color-text);
      padding: 10px;

      &.completed {
        border-left-width: 3px;
        border-left-color: var(--color-accent);
      }

      &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;


      }

      &__block {
        display: flex;
        gap: 20px;
      }
    }
  }
}
